<div class="container">
    <p style="color:red;">Bài 3: Cho danh sách...Hãy sắp xếp danh sách trên theo thứ tự tăng dần của trường họ tên(Ưu tiên Tên sau đó đến Họ) </p>
    <table style="width:60%">
        <tr>
            <th>Stt</th>
            <th>Họ và Tên</th>
            <th>Điểm</th>
        </tr>
        <tr *ngFor="let m of ds ; let i = index">
            <td>{{i+1}}</td>
            <td>{{m.hoten}}</td>
            <td>{{m.diemthi}}</td>
        </tr>
        <tr style="height: 70px;" >
            <td colspan="3"> 
                <button class="btn btn-danger"(click)="sapxep();" [disabled]="ds==null" >Sắp xếp</button>
            </td>
        </tr>
    </table>
</div>